.MainCont {
  padding: 1rem;
  width: max-content;
  margin: auto;
}

.Introduction {
  margin: 1rem 0;
}

.MainButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}